parameters:
  paths:
    - bin
    - config
    - src

  level: 0

  ignoreErrors:
    - "#Unsafe usage of new static\\(\\)#"
    - "#\\(void\\) is used.#"
    - "#Instantiated class Swoole\\Coroutine\\WaitGroup not found.#"

  reportUnmatchedIgnoredErrors: false
