{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		worker public/frankenphp-worker.php {$WORKER_COUNT}
	}
}

{$SERVER_NAME} {
	log {
		# Redact the authorization query parameter that can be set by Mercure
		format filter {
			wrap console
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	route {
		# Mercure config is injected here
		{$CADDY_SERVER_EXTRA_DIRECTIVES}

        root * public/
		php_server {
		    index frankenphp-worker.php
		}
}
